/* purgecss start ignore */

@import "tailwindcss/base";
@import "tailwindcss/components";

/* purgecss end ignore */

@import "tailwindcss/utilities";


@font-face {
    font-family: "Haroopath";
    src: local("Haroopath"),
     url("./Haroopath.otf") format("truetype");
    font-weight: bold;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: theme("colors.primary");
}

.dark-theme body {
    background-color: theme("colors.dark");
    color: theme("colors.darkFont");
}

.logo-name {
    font-family: 'Haroopath', cursive;
    padding: 0 5px;
    font-size: small;
}
